* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-family-head: 'Cormorant Garamond', serif;
  --font-family-p: 'Fira Sans', sans-serif;
  --font-color-p: #ffe6ff;
  --font-color-p2: #ff65bd;
  --font-color-p-dark: rgb(49, 49, 49);
  --color-main-1: #D45966;
  --color-main-2: #993159;
  --color-main-3: #0D051C;
  --color-main-4: #5F203A;
  --color-light-1: #F8D45C;
  --color-light-2: #AC9C38;
  --color-light-3: #6F5420;
}

html {
  font-family: var(--font-family-p);
  color: var(--font-color-p);
}

body {
  background-image: url('./media/skyline_bg.jpg');
  background-size: 225% 225%;
  background-position: 90% 85%;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 700px;
  width: 100vw;
  transition: 2s ease;
}

.body-pos-landing {
  background-position: 90% 85%;
}

.body-pos-home {
  background-position: 20% 85%;
}

.body-pos-step2 {
  background-position: 20% 70%;
}

.body-pos-step3 {
  background-position: 20% 45%;
}

.body-pos-step4 {
  background-position: 20% 35%;
}

.body-pos-results {
  background-position: 20% 0%;
}

.body-pos-profile {
  background-position: 80% 0%;
}

main {
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  /* background-color: rgba(161, 111, 167, 0.8); */
  height: 40px;
  width: 100vw;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ae5f8c+0,782b6c+30,38173c+71,0d051c+100 */
  background: #ae5f8c; /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(174, 95, 140, 0.8) 0%, rgba(120, 43, 108, 0.8) 30%, rgba(56, 23, 60, 0.8) 71%, rgba(13, 5, 28, 0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(174, 95, 140, 0.8) 0%,rgba(120, 43, 108, 0.8) 30%,rgba(56, 23, 60, 0.8) 71%,rgba(13, 5, 28, 0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(174, 95, 140, 0.8) 0%,rgba(120, 43, 108, 0.8) 30%,rgba(56, 23, 60, 0.8) 71%,rgba(13, 5, 28, 0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae5f8c', endColorstr='#0d051c',GradientType=1 ); /* IE6-9 */
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  z-index: 10;
}

.left-nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link {
  font-size: 24px;
  padding-left: 20px;
  padding-right: 15px;
  color: var(--color-light-1);
}

.nav-link2 {
  font-size: 24px;
  padding-left: 15px;
  padding-right: 30px;
  color: var(--color-light-1);
  /* border-right: 1px solid var(--font-color-p2); */
}

.nav-link3 {
  font-size: 24px;
  padding-left: 20px;
  color: var(--color-light-1);
}

.logo-img {
  height: 30px;
  width: auto;
}

.logo-text {
  font-size: 24px;
  font-family: var(--font-family-head);
  color: #f788c7;
  /* text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite; */
}

/* GLOBAL STYLES */

.hidden {
  visibility: hidden;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pad-5 {
  padding: 5px;
}

.pad-10 {
  padding: 10px;
}

.fs-xs {
  font-size: x-small;
}

.fs-xl {
  font-size: x-large;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-right {
  text-align: right;
}

.error {

}

.color-p {
  color: var(--font-color-p);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* BUTTONS */

.item-btn {
  background-color: #ff65bd;
  color: var(--font-color-p);
  padding: 5px 10px;
  border: 2px solid var(--font-color-p);
  cursor: pointer;
  border-radius: 5px;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd;
  outline: none;
  text-decoration: none;
}

.item-btn2 {
  background-color: #ff65bd;
  color: var(--font-color-p);
  padding: 12px 20px;
  border: 2px solid var(--font-color-p);
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd;
  outline: none;
}

.item-btn3 {
  background-color: transparent;
  color: var(--font-color-p);
  padding: 12px 20px;
  border: 2px solid var(--font-color-p);
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd;
  outline: none;
}

.item-btn4 {
  width: 92px;
  background-color: transparent;
  color: var(--font-color-p);
  padding: 12px 20px;
  border: 2px solid var(--font-color-p);
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd;
  outline: none;
}

.item-btn-selected {
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 18px;
  color: #ffe6ff;
  border-color: #ff65bd;
  background-color: #ff65bd;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
}

.item-btn4-selected {
  width: 92px;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 18px;
  color: #ffe6ff;
  border-color: #ff65bd;
  background-color: #ff65bd;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
}

.item-btn:hover, .item-btn2:hover, .item-btn3:hover, .item-btn4:hover {
  animation: shine-btn 1s forwards;
}

.item-btn:active, .item-btn2:active, .item-btn3:active, .item-btn4:active {
  animation: shine-btn 1s forwards;
}

.item-btn:focus, .item-btn2:focus, .item-btn3:focus, .item-btn4:focus {
  animation: shine-btn 1s forwards;
}

/* LOGIN/SIGNUP STYLES */

.container {
  width: 100%;
  height: 100vh;
  padding-top: 30vh;
  color: #ffe6ff;
  
}

.form-box-ls {
  width: 80%;
  max-width: 300px;
  min-height: fit-content;
  padding-bottom: 20px;
  min-width: fit-content;
  font-family: var(--font-family-head);
}

.form-box-ls h1 {
  
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

.main-form {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.main-form h4 {
  margin-top: 20px;
  text-align: center;
  color: #ffe6ff;
}

.main-form h5 {
  font-size: 0.95em;
}

.text-input {
  display: block;
  width: 70%;
  height: 30px;
  font-size: 18px;
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: #f7f7f7;
  outline: none;
  text-align: right;
}

.form-button-container {
  margin-top: 10px;
}

.landing-link {
  color: var(--font-color-p);
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
  cursor: pointer;
  text-decoration: underline;
}

.login-box {
  margin-top: 10px;
  text-align: right;
}

/* .text-input::placeholder {
  color: #f7f7f7;
} */

/* HOME STYLES */
.home-container {
  width: 75%;
  height: 100vh;
  padding: 20px;
  padding-top: 16vh;
  color: #ffe6ff;
}

.home-header {
  font-family: var(--font-family-head);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

.home-body {
  padding-left: 10px;
}

.home-header h1 {
  font-size: 60px;
}

/* BALLOON BUTTON STYLES */

.bb-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  bottom: 30%;
}

.bb-img {
  position: relative;
  height: 100px;
  width: auto;
}

.bb-float {
  animation: float-away 2s ease 0s forwards;
}

.bb-animation {
  animation: move-pointer 2s linear 0s;
  animation-iteration-count: infinite;
}

.bb-arrow {
  font-size: 50px;
  color: #ffe6ff;
  transition: all 0.5s ease;
  cursor: pointer;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

/* STEP STYLES */

.main-step-container {
  display: flex;
  flex-direction: row;
  width: 85%;
  max-width: 450px;
  height: 90vh;
  justify-content: space-between;
  position: relative;
}

.combobox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.step-popover {
  background-color: var(--color-main-4);
}

.s1-top-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.step-container {
  width: 80%;
  height: 100%;
  padding: 20px;
  padding-right: 5px;
  padding-top: 26vh;
  color: #ffe6ff;
}

.step2-container {
  width: 80%;
  height: 100%;
  padding: 20px;
  padding-top: 26vh;
  color: #ffe6ff;
}

.step3-container {
  width: 80%;
  height: 100%;
  padding: 20px;
  padding-top: 26vh;
  color: #ffe6ff;
}

.step4-container {
  width: 80%;
  height: 100%;
  padding: 20px;
  padding-top: 26vh;
  color: #ffe6ff;
}

.step-invis {
  width: 80%;
  height: 100%;
  padding: 20px;
  padding-top: 26vh;
}

.step-header {
  font-family: var(--font-family-head);
  margin-bottom: 10px;
  font-size: 50px;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

.search {
  padding: 5px 10px;
  width: 100%;
}

.compass {
  background-image: url('./media/safari.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 29px;
  width: 29px;
  margin-left: 1rem;
  cursor: pointer;
}

.step-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  gap: 5px;
}

.step-button-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* RESULTS STYLES */
.results-container {
  padding-top: 10%;
}

.results-header {
  font-family: var(--font-family-head);
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 50px;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

.results-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.results-location {
  color: var(--font-color-p);
  /* text-align: center; */
}

.upper-results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-results-container {
  padding-left: 20px;
  width: 60%;
}

.right-results-container{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
}

/* ITEM STYLES */
.main-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.border {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid var(--font-color-p);
  padding: 20px;
  background-color: rgba(0,0,0,0.8);
  transition: all 0.5s ease;
}

.border2 {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 1px solid var(--font-color-p);
  padding: 20px;
  background-color: rgba(0,0,0,0.8);
  transition: all 0.5s ease;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.left-container {
  width: 50%;
}

.left-activity-container {
  width: 100%;
}

.right-activity-container {
  width: 100%;
}

.left-drink-container {
  width: 100%;
}


.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.item-header {
  font-family: var(--font-family-head);
  margin-bottom: 10px;
  font-size: 30px;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

.preview-image { 
  width: 80%;
  max-width: 200px;
  position: relative;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.show-image {
  position: relative;
  width: auto;
  height: 20%;
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.map-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.divider {
  width: 60%;
  border-top: 1px dotted #f7f7f7;
  margin: 15px auto;
}

.open {
  font-size: 1.2rem;
  color: rgb(0, 185, 0);
}

.closed {
  color: rgb(255, 83, 83);
}

.rating-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: yellow;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
}

.info {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 30px;
  width: 40px;
  cursor: pointer;
}

/* PROFILE STYLES */
.profile-main-container {
  width: 90%;
  margin: 1rem auto;
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 1rem;
  max-height: 500px;
  overflow-y: scroll;
}

.pi-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  padding-left: 20px;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pi-title {
  color: var(--font-color-p);
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
  cursor: pointer;
}

.pi-delete {
  padding-left: 1rem;
  border-left: 1px solid #f7f7f7;
  color: #fa9cd1;
}

/* OVERLAY STYLES */

.overlay-container {
  position: fixed;
  background-color: rgba(13, 5, 28, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.exit {
  font-size: 30px;
  color: var(--font-color-p2);
  position: absolute;
  right: 10px;
  top: 10px;
}

.logout-modal {
  height: auto;
  width: 80%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.logout-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.sd-modal {
  width: 80%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.sd-text {
  width: 100%;
  height: 30px;
  font-size: 18px;
  padding-left: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: #f7f7f7;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* ANIMATIONS */

@keyframes move-pointer {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}

@keyframes float-away {
  0% {
    top: 0px;
  }
  100% {
    top: -900px;
  }
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes shine-btn {
  0% {
    color: #6b1839;
    text-shadow: none;
    box-shadow: none;
    background-color: transparent;
  }
  100% {
    color: #ffe6ff;
    border-color: #ff65bd;
    background-color: #ff65bd;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .bb-arrow {
    font-size: 50px;
    color: #ffe6ff;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  
  .bb-arrow:hover {
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
  }
}

@media screen and (max-height: 600px) {
  body {
    min-height: 600px;
  }
}

/* @media screen and (min-height: 600px) {
  body {
    min-height: 600px;
  }
}
@media screen and (min-height: 700px) {
  body {
    min-height: 700px;
  }
}
@media screen and (min-height: 800px) {
  body {
    min-height: 800px;
  }
}
@media screen and (min-height: 900px) {
  body {
    min-height: 900px;
  }
}
@media screen and (min-height: 1000px) {
  body {
    min-height: 1000px;
  }
}
@media screen and (min-height: 1100px) {
  body {
    min-height: 1100px;
  }
}

@media screen and (min-height: 1100px) {
  body {
    min-height: 1200px;
  }
} */