* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-family-head: 'Cormorant Garamond', serif;
  --font-family-p: 'Fira Sans', sans-serif;
  --font-color-p: #f7f7f7;
  --font-color-p-dark: rgb(49, 49, 49);
  --color-main-1: #D45966;
  --color-main-2: #993159;
  --color-main-3: #0D051C;
  --color-main-4: #5F203A;
  --color-light-1: #F8D45C;
  --color-light-2: #AC9C38;
  --color-light-3: #6F5420;
}

main {
  background-image: url('./media//skyline_bg.jpg');
  background-size: 250% 250%;
  background-position: 20% 0%;
  height: 100vh;
  width: 100vw;
}

